<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这块等于dao接口的实现 namespace必须和接口的类路径一样 -->
<mapper namespace="org.tym.bugpred.mybatis.dao.ICommitDAO">
	<resultMap type="Commit" id="commitResultMap">
		<!-- 属性名和数据库列名映射 -->
        <id property="id" column="id"  />
        <result property="revisionNo" column="revisionNo"  />
        <result property="author" column="author"  />
        <result property="timeStamp" column="timeStamp"  />
        <result property="message" column="message"  />
        <collection property="files" ofType="FileOp" select="selectFileOps" column="id" />
	</resultMap>
	
	<resultMap type="FileOp" id="fileOpResultMap">
		<!-- 属性名和数据库列名映射 -->
        <id property="id" column="id"  />
        <result property="type" column="opType"  />
        <result property="path" column="filePath"  />
        <result property="commitId" column="commitid"  />
	</resultMap>

	<insert id="insertCommit" parameterType="org.tym.bugpred.mybatis.bean.Commit" useGeneratedKeys="true" keyProperty="id" >
		insert into commit
		(revisionNo,author,timeStamp,message) value
		(
			#{revisionNo,jdbcType=VARCHAR},
			#{author,jdbcType=VARCHAR},
			#{timeStamp,jdbcType=VARCHAR},
			#{message,jdbcType=VARCHAR}
		)
	</insert>
	
	<!--
	<select id="findCommitByRevisionNo" parameterType="String" resultType="commitResultMap" >
		select * from commit where revisionNo=#{revisionNo}
	</select>
	-->
		
	<!--  只能查出一条，原因未知
	<select id="findCommitByRevisionNo" parameterType="String" resultMap="commitResultMap" >
		SELECT
			c.id,
			c.revisionNo,
			c.author,
			c.timeStamp,
			c.message,
			f.id,
			f.opType,
			f.filePath
		FROM commit c
		LEFT JOIN fileop f ON(c.id = f.commitid)
		WHERE c.revisionNo = #{revisionNo}
	</select>
	-->
	
	<select id="selectFileOps" parameterType="String" resultMap="fileOpResultMap" >
		select * from fileop where commitid=#{commitId}
	</select>
	
	<select id="findCommitByRevisionNo" parameterType="String" resultMap="commitResultMap" >
		select * from commit where revisionNo=#{revisionNo}
	</select>
</mapper>